/* @control function-bar */
.function-bar	 {
	overflow: hidden;
	margin-bottom: -2px;
	padding: 0;
	background-color: #f9f9f9;
}

.function-buttons {
	overflow: hidden;
	padding: 0.5em;
	border: 1px solid #ccc;
	border-bottom-width: 0;
}

.function-bar a {
	background: #f7f7f7;
	border: 1px solid #ddd;
	color: #333;
	display: block;
	float: left;
	height: 25px;
	overflow: hidden;
	margin: 0 0.5em 0 0;
	text-shadow: 0 1px 0 #fff;
	width: 25px;
	
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f4f4f4', endColorstr='#ececec');
	background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
	background: -moz-linear-gradient(top, #f4f4f4, #ececec);
}

.function-bar a:hover {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	text-decoration: none;
	
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#769fc4', endColorstr='#5a82b0');
	background: -webkit-gradient(linear, left top, left bottom, from(#769fc4), to(#5a82b0));
	background: -moz-linear-gradient(top, #769fc4, #5a82b0);
}

.function-bar a span {
	background-image: url('images/icon-sprite.png');
	background-repeat: no-repeat;
	display: block;
	height: 25px;
	overflow: hidden;
	text-indent: -5000px;
	width: 25px;
}

a.function-bold span { background-position: 0 0; }
a.function-italic span { background-position: -27px 0; }
a.function-underline span { background-position: -54px 0; }
a.function-code span { background-position: -82px 0; }
a.function-ul span { background-position: -109px 0; }
a.function-ol span { background-position: -136px 0; }
a.function-blockquote span { background-position: -163px 0; }
a.function-hr span { background-position: -190px 0; }
a.function-h1 span { background-position: -217px 0; }
a.function-h2 span { background-position: -244px 0; }
a.function-h3 span { background-position: -271px 0; }
a.function-link span { background-position: -298px 0; }
a.function-image span { background-position: -324px 0; }
a.function-help span { background-position: -405px 0; } 

a.function-bold:hover span { background-position: 0 -28px; }
a.function-italic:hover span { background-position: -27px -28px; }
a.function-underline:hover span { background-position: -54px -28px; }
a.function-code:hover span { background-position: -82px -28px; }
a.function-ul:hover span { background-position: -109px -28px; }
a.function-ol:hover span { background-position: -136px -28px; }
a.function-blockquote:hover span { background-position: -163px -28px; }
a.function-hr:hover span { background-position: -190px -28px; }
a.function-h1:hover span { background-position: -217px -28px; }
a.function-h2:hover span { background-position: -244px -28px; }
a.function-h3:hover span { background-position: -271px -28px; }
a.function-link:hover span { background-position: -298px -28px; }
a.function-image:hover span { background-position: -324px -28px; }
a.function-help:hover span { background-position: -405px -28px; } 


.function-bar a.disabled {
	display: none;
}

.function-bar span.function-divider {
	display: block;
	float: left;
	width: 0.5em;
}
