.markdowneditor label {
	margin-bottom: 1rem!important;
}
.markdowneditor textarea {
	margin-top: 0;
	border-radius: 0 0 5px 5px;
	background: #fff;
}
.markdowneditor-function-bar {
	position: relative;
	background-color: #fff;
	border-radius: 5px 5px 0 0;
	border: 1px solid #d3dce2;
	border-bottom-width: 0;
}
.markdowneditor-function-buttons {
	padding: 4px;
}
	.markdowneditor-function-buttons a {
		display: inline-block;
		width: 24px;
		height: 24px;
		margin: 2px;
		overflow: hidden;
		vertical-align: top;
		border: 1px solid transparent;
		border-radius: 3px;
		color: #657685;
		font-size: 12px;
		line-height: 24px;
		text-align: center;
		background: #fff;
	}
	.markdowneditor-function-buttons a:hover {
		color: #2f77eb;
		text-decoration: none;
		border-color: #657685;
	}
	.markdowneditor-function-buttons a.function-hr,
	.markdowneditor-function-buttons a.function-ol {
		font-size: 10px;
		line-height: 12px;
	}
	.markdowneditor-function-buttons a.function-ul {
		font-size: 10px;
		line-height: 8px;
	}
	.markdowneditor-function-buttons a.function-blockquote {
		font-size: 22px;
		line-height: 12px;
	}
	.markdowneditor-function-buttons a.function-link,
	.markdowneditor-function-buttons a.function-image {
		font-size: 16px;
	}
	.markdowneditor-function-buttons a.function-bold {
		font-size: 14px;
		font-weight: bold;
	}
	.markdowneditor-function-buttons a.function-italic {
		font-size: 14px;
		font-style: italic;
	}
.markdowneditor-dialog {
	padding: 5px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #e8e8e8;
}
	.markdowneditor-dialog .column {
		margin-bottom: 5px;
	}
.markdowneditor-dialog-actions {
	text-align: right;
}
	.markdowneditor-dialog-actions button {
		margin: 0 0 0 10px;
	}
